<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="edge"/>
<listeners>
<listener class-name="utilities.ExtentReportManager"></listener>
</listeners>
  <test thread-count="5" name="EdgeTest">
  
    <classes>
      <class name="testCases.TC_01_AccountValidation"/>
      <class name="testCases.TC_02_TimezoneTest"/>
      <class name="testCases.TC_003_AlphabatesTest"/>
    </classes>
  </test> <!-- Test --> 
  
  
<!-- 
<parameter name="browser" value="chrome"/>
  <test thread-count="5" name="ChromeTest">
    <classes>
      <class name="testCases.TC_01_AccountValidation"/>
      <class name="testCases.TC_02_TimezoneTest"/>
      <class name="testCases.TC_003_AlphabatesTest"/>
    </classes>
  </test> -->
                 
  
  
  
  
</suite> <!-- Suite -->
